<!DOCTYPE html>
<html>
<head>
  <title>UwU website</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1><%= output %></h1>
    <button class="button" onclick="window.location.href='/'">
        <span class="btn-txt">Try again!</span>
    </button>
  </div>
</body>
</html>